@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Gabarito:wght@400;600&family=Lexend+Deca:wght@100;200;300;400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#navBarChild {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100rem;
    height: 70px;
    background-color: white;
}

.logoChild_ {
    margin-left: -100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(255, 72, 0);
}

.logoChild_ img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.navItemsChild_ ul {
    list-style: none;
    margin: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
} 

.navItemsChild_ ul li button{
    align-self: center;
    width: 70px;
    height: 70px;
    border-style: none;
    background-color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(76,76,88);
    cursor: pointer;
} 
.navItemsChild_ select{
    color: rgb(76,76,88);
    border-style: none;
}

.navItemsChild_ ul li button:hover{
    background-color: rgb(255, 72, 0);
    color: white;
} 
.navItemsChild_ ul li button a:hover{
    background-color: rgb(255, 72, 0);
    text-decoration: underline;
    color: white;
}

.navItemsChild_ select:hover {
    background-color: transparent;
    color: white;
}

.quoteButtomChild_ button{
    width: 130px;
    height: 35px;
    background-color: rgb(255, 72, 0);
    border-style: none;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-weight: normal;
    font-weight: 300;
}

.quoteButtomChild_ button a{
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    font-weight: 300;
    transition: 0.2s;
}

.quoteButtomChild_ button a:hover{
    text-decoration: underline;
    font-weight: 600;
}

.quoteButtomChild_{
    margin-right: -130px;
}

#overlayChild {
    overflow: hidden;
    height: 350px;
    width: 100%;
    background:url(src/08470238-4318-4191-84ab-37f667789bcd.jpg);
    background-attachment:scroll;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
    height: 350px;
    width: 100%;
    background-color: rgb(0,0,0,0.9);
    opacity: 0.7;
}

#trackingBar {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#trackingBar h2{
    color: rgb(255, 72, 0);
}

#trackingBar h1{
    color: white;
    font-size: 40px
}

#mainTrackBar {

    height: 40px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

#mainTrackBar input {
    height: 40px;
    font-size: 12px;
    width: 220px;
    outline: none;
    border: none;
}

#mainTrackBar button {
    background-color: rgb(255, 72, 0);
    color: white;
    font-size: 12px;
    height: 40px;
    width: 100px;
    outline: none;
    border: none;
    transition: 0.1s;
    cursor: pointer;
}

#mainTrackBar button:hover {    
    font-weight: 600;
    background-color: rgb(213, 68, 11);
}

#paddingGetAQuote {
    padding-top: 30px;
    width: 100%;
}

#getAQuoteChild {
    background-color: rgb(242,242,244);
    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#getAQuoteCard {
    display: flex;
    justify-content: space-around;
    width: 840px;
}
#mainGetAQuoteText {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 520px;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
}

#getAQuoteText {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
}

#gridText {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

#getAQuoteText h3{
    color: rgb(255, 72, 0);
    font-size: 12px;
}

#getAQuoteText h2{
    color: #1F1F2E;
}

#getAQuoteText p{
    color: rgb(76,76,88);
    font-size: 12px;
}

#gridText h2 {
    color: rgb(255, 72, 0);
    font-size: 25px;
}

#gridText h4 {
    font-size: 12px;
}

#getAQuoteForm {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 320px;
    background-color:  rgb(255, 72, 0);
}

#getAQuoteForm input{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    width: 260px;
    height: 30px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

#getAQuoteForm select{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    width: 260px;
    height: 30px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}

#getAQuoteForm button{
    font-family: 'Lexend Deca', sans-serif;
    width: 260px;
    height: 40px;
    border: none;
    background-color: #1F1F2E;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

#getAQuoteForm button:hover{
    text-decoration: underline;
    font-weight: 600;
}   

#pricinPlanContainer {
    background-color: red;
    width: 100%;
    height: 450px;
}

#pricinPlanChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

#pricinPlanGrid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.boxgrid {
    display: flex;
    flex-direction: column;
    align-items: center;
}